/vendor
/node_modules
/.env
/.phpunit.result.cache
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
/.idea
/.vscode
